#dvContainer { 
    min-height: -webkit-calc(100vh - #{$navbar-height + $footer-height});
    min-height:    -moz-calc(100vh - #{$navbar-height + $footer-height});
    min-height:         calc(100vh - #{$navbar-height + $footer-height});
}

.footer {
    height: $footer-height;
    text-align: center;
}