<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Bienes</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">
            <input class="form-control" placeholder="Buscar..." ng-model="search.text"/>
            <button type="button" class="btn btn-primary" ng-click="showBienesAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nuevo Bien</button>
            <div class="radio">
                <label>
                    <input type="checkbox" ng-model="search.check_all" ng-click="check_all_list_event()"> 
                    Todos
                </label>
                <label>
                    <input type="checkbox" ng-model="search.estado_1" ng-value="1" ng-click="check_change()">
                    Activos
                </label>
                <label>
                    <input type="checkbox" ng-model="search.estado_2" ng-value="2" ng-click="check_change()">
                    Inactivos
                </label>
                <label>
                    <input type="checkbox" ng-model="search.estado_3" ng-value="3" ng-click="check_change()"> 
                    Mal Estado
                </label>
            </div>
            <span class="pull-right">
                Estados: 
                <button type="button" disabled class="btn btn-success" style="cursor: default;">
                    Prestado
                </button>
                <button type="button" disabled class="btn btn-warning" style="cursor: default;">
                    Mal Estado
                </button>
                Mostrando 
                <select class="form-control" style="display: inline; width: 80px;"
                    ng-options="size as size for size in [10, 50, 100, 200, 300]" ng-model="maxSize">
                </select>
                registros
            </span>
        </form>
        <scrollable-table watch="bienes" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="descripcion">Descripción</th>
                        <th sortable-header col="tipo.descripcion">Tipo</th>
                        <th sortable-header col="marca.descripcion">Marca</th>
                        <th sortable-header col="modelo">Modelo</th>
                        <th sortable-header col="serie">Serie</th>
                        <th sortable-header col="codigo_patrimonial">Cód. Pat.</th>
                        <th sortable-header col="movimientos[0].area.per_Area">Área</th>
                        <th sortable-header col="movimientos[0].responsable.full_name">Responsable</th>
                        <th sortable-header col="estado.descripcion">Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading"><td colspan="9">Cargando...</td></tr>
                    <tr ng-show="!loading && bienes.length === 0"><td colspan="9">No hay registros</td></tr>
                    <tr ng-hide="loading" ng-class="{'danger': bien.estado_id === 2}" ng-repeat="bien in bienes | searchTextFilter:searchText:['estado_id']" row-id="{{ bien.id }}">
                        <td>{{ bien.id }}</td>
                        <td>{{ bien.descripcion }}</td>
                        <td>{{ bien.tipo.descripcion }}</td>
                        <td>{{ bien.marca.descripcion }}</td>
                        <td>{{ bien.modelo }}</td>
                        <td>{{ bien.serie }}</td>
                        <td>{{ bien.codigo_patrimonial }}</td>
                        <td ng-class="{'bg-success': bien.movimientos[0].estado_id === 4}">{{ bien.movimientos[0].area.per_Area }}</td>
                        <td ng-class="{'bg-success': bien.movimientos[0].estado_id === 4}">{{ bien.movimientos[0].persona_responsable.full_name }}</td>
                        <td ng-class="{'bg-warning': bien.estado_id === 3}">{{ bien.estado.descripcion }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="showBienesEdit(bien.id, $event)" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="showBienesAsignar(bien.id, $event)" title="Asignar"><span class="glyphicon glyphicon-log-in"></span></button>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="showBienesDarBaja(bien.id, $event)" title="Dar de baja"><span class="glyphicon glyphicon-log-in"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
        <ul uib-pagination total-items="pagination.totalItems" first-text="Primero" 
            last-text="Último" next-text="Siguiente" previous-text="Anterior"
            items-per-page="pagination.itemsPerPage" ng-model="page" 
            class="pagination-sm" boundary-links="true" force-ellipses="true"
            ng-change="pageChanged()"></ul>
    </div>
</div>
