<div class="alert alert-dismissible" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert" ng-show="message.type !== undefined">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message.text }} 
</div>
<h2>Bienes</h2>
<hr>
<div class="row">
    <button type="button" class="btn btn-primary" ng-click="showBienesAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nueva Bien</button>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                    <th>Cód. Pat.</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'danger': bien.estado_id == 2}" ng-repeat="bien in bienes">
                    <td>{{ bien.id }}</td>
                    <td>{{ bien.descripcion }}</td>
                    <td>{{ bien.tipo.descripcion }}</td>
                    <td>{{ bien.marca.descripcion }}</td>
                    <td>{{ bien.modelo }}</td>
                    <td>{{ bien.serie }}</td>
                    <td>{{ bien.codigo_patrimonial }}</td>
                    <td><button type="button" class="btn btn-primary btn-sm" ng-click="showBienesEdit(bien)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>