<form ng-submit="saveBien(bien, 'btnSaveBien')">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Bien</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="txtDescripcion">Descripción</label>
                    <input id="txtDescripcion" class="form-control" type="text" ng-model="bien.descripcion" />
                </div>
                <div class="form-group">
                    <label for="sltTipo">Tipo</label>
                    <select id="sltTipo" class="form-control"
                        ng-options="tipo as tipo.descripcion for tipo in tipos"
                        ng-model="tipo_selected" ng-click="selectTipo(tipo_selected)">
                        <option value="">Selecciona un Tipo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sltMarca">Marca</label>
                    <select id="sltMarca" class="form-control"
                        ng-options="marca as marca.descripcion for marca in marcas"
                        ng-model="marca_selected" ng-click="selectMarcas(marca_selected)">
                        <option value="">Selecciona un Marca</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtModelo">Modelo</label>
                    <input id="txtModelo" class="form-control" type="text" ng-model="bien.modelo" />
                </div>
                <div class="form-group">
                    <label for="txtSerie">Serie</label>
                    <input id="txtSerie" class="form-control" type="text" ng-model="bien.serie" />
                </div>
                <div class="form-group">
                    <label for="txtCodigoPatrimonial">Código Patrimonial</label>
                    <input id="txtCodigoPatrimonial" class="form-control" type="text" ng-model="bien.codigo_patrimonial" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-repeat="bien_dato in bien.bien_datos">
                    <label>{{ bien_dato.dato.descripcion }}</label>
                    <input class="form-control" type="text" ng-model="bien_dato.descripcion" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveMarca" class="btn btn-success" type="submit">Guardar Marca</button>
    </div>
</form>