<form novalidate angular-validator angular-validator-submit="saveBien(bien, 'btnSaveBien')" name="bienEdit" angular-validator-quiet>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modificar Bien</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
            <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message.message }} 
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label for="txtDescripcion">Descripción</label>
                <input id="txtDescripcion" class="form-control" type="text" ng-model="bien.descripcion"
                    name="bienDescripcion" required required-message="'Este campo es requerido'" validate-on="blur"/>
            </div>
            <div class="form-group col-sm-4">
                <label for="txtEstado">Estado</label><br>
                <label>
                    <input id="txtEstado" type="radio" ng-model="bien.estado_id" ng-value="1"/> Activo
                </label>
                <label>
                    <input id="txtEstado" type="radio" ng-model="bien.estado_id" ng-value="3"/> Mal estado
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="sltTipo">Tipo</label>
                <div class="input-group">
                    <select id="sltTipo" class="form-control"
                        ng-options="tipo.id as tipo.descripcion for tipo in tipos"
                        ng-model="bien.tipo_id" ng-change="selectTipo(bien.tipo_id)"
                        name="bienTipoId" required required-message="'Selecciona un Tipo'" validate-on="blur">
                        <option value="">{{ loading_tipos }}</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="showTiposAdd($event)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label for="sltMarca">Marca</label>
                <div class="input-group">
                    <select id="sltMarca" class="form-control"
                        ng-options="marca.id as marca.descripcion for marca in marcas"
                        ng-model="bien.marca_id"
                        name="bienMarcaId" required required-message="'Selecciona una Marca'" validate-on="blur">
                        <option value="">{{ loading_marcas }}</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="showMarcasAdd($event)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label for="txtModelo">Modelo</label>
                <input id="txtModelo" class="form-control" type="text" ng-model="bien.modelo"
                    name="bienModelo" required required-message="'Este campo es requerido'" validate-on="blur"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="txtSerie">Serie</label>
                <input id="txtSerie" class="form-control" type="text" ng-model="bien.serie" />
            </div>
            <div class="form-group col-sm-6">
                <label for="txtCodigoPatrimonial">Código Patrimonial</label>
                <input id="txtCodigoPatrimonial" class="form-control" type="text" ng-model="bien.codigo_patrimonial" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12" ng-repeat="bien_dato in bien.bien_datos">
                <label for="bienDato{{$index}}" ng-if="bien_dato.dato.tipo_dato !== 'Booleano'">{{ bien_dato.dato.descripcion }}</label>
                <input ng-if="bien_dato.dato.tipo_dato === 'Número'" id="bienDato{{$index}}" 
                    class="form-control" type="number" ng-model="bien_dato.descripcion" name="bienDato{{$index}}" 
                    ng-value="{{ bien_dato.descripcion }}" />
                
                <input ng-if="bien_dato.dato.tipo_dato === 'Texto'" id="bienDato{{$index}}" 
                    class="form-control" type="text" ng-model="bien_dato.descripcion" name="bienDato{{$index}}" />
                
                <label ng-if="bien_dato.dato.tipo_dato === 'Booleano'">
                    <input id="bienDato{{$index}}" ng-true-value="'1'" ng-false-value="'0'"
                    type="checkbox" ng-model="bien_dato.descripcion" name="bienDato{{$index}}" />
                    {{ bien_dato.dato.descripcion }}
                </label>
                
                <select ng-if="bien_dato.dato.tipo_dato === 'Lista'" id="bienDato{{$index}}" 
                    class="form-control" ng-options="option.descripcion as option.descripcion for option in bien_dato.dato.alternativas"
                    ng-model="bien_dato.descripcion" name="bienDato{{$index}}">
                    <option value="">Selecciona uno</option>
                </select>
                
                <select ng-if="bien_dato.dato.tipo_dato === 'Asociado'" id="bienDato{{$index}}"
                    class="form-control" ng-options="bien.id as bien.descripcion for bien in bien_dato.bienes_asociar"
                    ng-model="bien_dato.descripcion" name="bienDato{{$index}}">
                    <option value="">Selecciona uno</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveBien" class="btn btn-success" type="submit">Guardar Bien</button>
    </div>
</form>