<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Búsqueda</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row">
                <div class="form-group col-sm-1">
                    <label for="txtSearchCodigo">Código</label>
                    <input id="txtSearchCodigo" class="form-control" type="search" ng-model="codigo_search"/>
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtSearchDescripcion">Descripción</label>
                    <input id="txtSearchDescripcion" class="form-control" type="search" ng-model="descripcion_search"/>
                </div>
                <div class="form-group col-sm-2">
                    <label for="sltSearchTipo">Tipo</label>
                    <select id="sltSearchTipo" class="form-control"
                        ng-options="tipo.id as tipo.descripcion for tipo in tipos"
                        ng-model="tipo_search" ng-change="selectTipo(tipo_search)">
                        <option value="">{{ loading_tipos }}</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label for="sltMarca">Marca</label>
                    <select id="sltMarca" class="form-control"
                        ng-options="marca.id as marca.descripcion for marca in marcas"
                        ng-model="marca_search">
                        <option value="">{{ loading_marcas }}</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label for="txtSearchModelo">Modelo</label>
                    <input id="txtSearchModelo" class="form-control" type="search" ng-model="modelo_search"/>
                </div>
                <div class="form-group col-sm-2">
                    <label for="txtSearchSerie">Serie</label>
                    <input id="txtSearchSerie" class="form-control" type="search" ng-model="serie_search"/>
                </div>
                <div class="form-group col-sm-2" ng-repeat="dato in datos">
                    <label for="txtdato{{ $index }}">{{ dato.descripcion }}</label>
                    <input id="txtdato{{ $index }}" class="form-control" type="search" ng-model="dato_search[$index]"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-1">
                     <button id="buscarBienes" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </div>
                Mostrando 
                <select class="form-control" style="display: inline; width: 80px;"
                    ng-options="size as size for size in [10, 20, 30, 40, 50]" ng-model="maxSize">
                </select>
                registros
            </div>
        </form>
        <scrollable-table watch="bienes" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="descripcion">Descripción</th>
                        <th sortable-header col="tipo.descripcion">Tipo</th>
                        <th sortable-header col="marca.descripcion">Marca</th>
                        <th sortable-header col="modelo">Modelo</th>
                        <th sortable-header col="serie">Serie</th>
                        <th sortable-header col="codigo_patrimonial">Cód. Pat.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading"><td colspan="8">Cargando...</td></tr>
                    <tr ng-show="!loading && bienes.length === 0"><td colspan="8">No hay registros</td></tr>
                    <tr ng-show="!loading" ng-class="{'danger': bien.estado_id == 2}" ng-repeat="bien in bienes" row-id="{{ bien.id }}">
                        <td>{{ bien.id }}</td>
                        <td>{{ bien.descripcion }}</td>
                        <td>{{ bien.tipo.descripcion }}</td>
                        <td>{{ bien.marca.descripcion }}</td>
                        <td>{{ bien.modelo }}</td>
                        <td>{{ bien.serie }}</td>
                        <td>{{ bien.codigo_patrimonial }}</td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
        <ul uib-pagination total-items="pagination.totalItems" first-text="Primero" 
            last-text="Último" next-text="Siguiente" previous-text="Anterior"
            items-per-page="pagination.itemsPerPage" ng-model="page" 
            class="pagination-sm" boundary-links="true" force-ellipses="true"
            ng-change="pageChanged()"></ul>
    </div>
</div>
