<div class="alert alert-dismissible" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert" ng-show="message.type !== undefined">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message.text }} 
</div>
<h2>Claves</h2>
<hr>
<div class="row">
    <button type="button" class="btn btn-primary" ng-click="showClavesAdd()"><span class="glyphicon glyphicon-plus"></span> Nueva Clave</button>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Software</th>
                    <th>Clave</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'danger': clave.estado_id == 2}" ng-repeat="clave in claves">
                    <td>{{ clave.id }}</td>
                    <td>{{ clave.software }}</td>
                    <td>{{ clave.clave }}</td>
                    <td><button type="button" class="btn btn-primary btn-sm" ng-click="showClavesEdit(clave)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>