<div class="alert alert-dismissible" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert" ng-show="message.type !== undefined">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message.text }} 
</div>
<h2>Credenciales</h2>
<hr>
<div class="row">
    <button type="button" class="btn btn-primary" ng-click="showCredencialesAdd()"><span class="glyphicon glyphicon-plus"></span> Nueva Credencial</button>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Software</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'danger': credencial.estado_id === 2}" ng-repeat="credencial in credenciales">
                    <td>{{ credencial.id }}</td>
                    <td>{{ credencial.software }}</td>
                    <td>{{ credencial.username }}</td>
                    <td>{{ credencial.password }}</td>
                    <td><button type="button" class="btn btn-primary btn-sm" ng-click="showCredencialesEdit(credencial)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>