<form novalidate angular-validator angular-validator-submit="saveCredencial(credencial, 'btnSaveCredencial')" name="credencialEdit" angular-validator-quiet>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modificar Página</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="txtSoftware">Software</label>
            <input id="txtSoftware" class="form-control" type="text" ng-model="credencial.software"
                name="credencialSoftware" required required-message="'Este campo es requerido'" validate-on="blur" />
        </div>
        <div class="form-group">
            <label for="txtUsername">Username</label>
            <input id="txtUsername" class="form-control" type="text" ng-model="credencial.username" 
                name="credencialUsername" required required-message="'Este campo es requerido'" validate-on="blur"/>
        </div>
        <div class="form-group">
            <label for="txtPassword">Password</label>
            <div class="input-group">
                <input id="txtPassword" class="form-control" type="{{ type_input }}" ng-model="credencial.password" 
                    name="credencialPassword" required required-message="'Este campo es requerido'" validate-on="blur"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="showPassword()">
                        <span class="glyphicon {{ icon }}"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtaObservaciones">Observaciones</label>
            <textarea id="txtaObservaciones" class="form-control" type="password" ng-model="credencial.observaciones" 
                name="credencialObservaciones" required required-message="'Este campo es requerido'" validate-on="blur">
            </textarea>
        </div>
        <div class="form-group">
            <label>Estado</label>
            <div>
                <label><input type="radio" ng-model="credencial.estado_id" ng-value="1"> Activo</label>
                <label><input type="radio" ng-model="credencial.estado_id" ng-value="2"> Inactivo</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveCredencial" class="btn btn-success" type="submit">Guardar Credencial</button>
    </div>
</form>