<form novalidate angular-validator angular-validator-submit="saveTipo(tipo, 'btnSaveTipo')" name="tipoAdd" angular-validator-quiet>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Tipo de Bien</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="txtDescripcion">Descripción</label>
            <input id="txtDescripcion" class="form-control" type="text" ng-model="tipo.descripcion" focus-me="true" 
                name="tipoDescripcion" required required-message="'Este campo es requerido'" validate-on="blur"  />
        </div>
        <div class="form-group">
            <label for="sltNaturaleza">Naturaleza</label>
            <select id="sltNaturaleza" class="form-control" required
                ng-options="option for option in ['Software', 'Hardware']" ng-model="tipo.naturaleza"
                name="tipoNaturaleza" required required-message="'Este campo es requerido'" validate-on="blur" >
                <option value="">Selecciona uno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="txtDato">Dato nuevo</label>
            <div class="input-group">
                <input id="txtDato" class="form-control" type="text" ng-model="dato_nuevo_descripcion" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="addDato(dato_nuevo_descripcion)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div ui-sortable ng-model="tipo.datos">
                <p class="input-group" ng-repeat="dato in tipo.datos"
                    style="padding: 5px 10px; cursor: move;">
                    <input type="text" class="form-control" ng-model="dato.descripcion"
                        name="tipoDatoDescripcion{{ $index }}" required required-message="'Este campo es requerido'" validate-on="blur"  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="setDetailDato(dato)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="removeDato(dato)">X</button>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveTipo" class="btn btn-success" type="submit">Guardar Tipo</button>
    </div>
</form>