<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Marcas</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" ng-click="showMarcasAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nueva Marca</button>
        <scrollable-table watch="marcas" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="descripcion">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading"><td colspan="8">Cargando...</td></tr>
                    <tr ng-show="!loading && marcas.length === 0"><td colspan="8">No hay registros</td></tr>
                    <tr ng-hide="loading" ng-class="{'danger': marca.estado_id === 2}" ng-repeat="marca in marcas" row-id="{{ marca.id }}">
                        <td>{{ marca.id }}</td>
                        <td>{{ marca.descripcion }}</td>
                        <td><button type="button" class="btn btn-primary btn-sm" ng-click="showMarcasEdit(marca.id, $event)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>