<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Movimientos</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <input class="form-control" placeholder="Buscar..." ng-model="search.text" />
        <scrollable-table watch="bienes" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="descripcion">Descripción</th>
                        <th sortable-header col="tipo.descripcion">Tipo</th>
                        <th sortable-header col="marca.descripcion">Marca</th>
                        <th sortable-header col="modelo">Modelo</th>
                        <th sortable-header col="serie">Serie</th>
                        <th sortable-header col="codigo_patrimonial">Cód. Pat.</th>
                        <th sortable-header col="movimientos[0].area.per_Area">Área</th>
                        <th sortable-header col="movimientos[0].responsable.full_name">Responsable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading"><td colspan="8">Cargando...</td></tr>
                    <tr ng-show="!loading && bienes.length === 0"><td colspan="8">No hay registros</td></tr>
                    <tr ng-hide="loading" ng-class="{'danger': bien.estado_id === 2}" ng-repeat="bien in bienes | searchTextFilter:searchText:['estado_id']" row-id="{{ bien.id }}">
                        <td>{{ bien.id }}</td>
                        <td>{{ bien.descripcion }}</td>
                        <td>{{ bien.tipo.descripcion }}</td>
                        <td>{{ bien.marca.descripcion }}</td>
                        <td>{{ bien.modelo }}</td>
                        <td>{{ bien.serie }}</td>
                        <td>{{ bien.codigo_patrimonial }}</td>
                        <td>{{ bien.movimientos[0].area.per_Area }}</td>
                        <td>{{ bien.movimientos[0].persona_responsable.full_name }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="showBienesEdit(bien.id, $event)" title="Editar"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="showBienesAsignar(bien.id, $event)" title="Asignar"><span class="glyphicon glyphicon-log-in"></span></button>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="showBienesDatBaja(bien.id, $event)" title="Dar de baja"><span class="glyphicon glyphicon-log-in"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
        
        <ul uib-pagination total-items="pagination.totalItems" first-text="Primero" 
            last-text="Último" next-text="Siguiente" previous-text="Anterior"
            items-per-page="pagination.itemsPerPage" ng-model="page" 
            class="pagination-sm" boundary-links="true" force-ellipses="true"
            ng-change="pageChanged()"></ul>
    </div>
</div>