<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Imprimir Códigos QR</h2>
<hr>
<div print-section style="border: solid 1px;">
    dsadsa
</div>
<div print-section style="border: solid 1px;">
    dsadsa
</div>
<button print-btn>Doesn't matter where you put me</button>